*{
   margin: 0%;
   padding: 0%;
   text-align: center;
}
h1{
   background-color: aqua;
   color: blue;
   height: 5rem;
   line-height: 4rem;

}
.choice{
   height: 165px;
   width: 165px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   text-align: center;
}
.choice:hover{
   opacity: 0.5;
   cursor: pointer;
   background-color: #081b31;
}
img{
   height: 150px;
   width: 150px;
   object-fit: cover;
}
.choices{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin-top: 5rem;

}
.score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin: 3rem;
   gap: 5rem;

}
#user-score,
#comp-score{
   font-size: 4rem;
}
#msg{
   margin: 5rem;
   background-color: #081b31;
   color: aliceblue;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
}